{% extends 'Farmer/Head.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
</head>
<body>
    <h2 align="center">Farmer Complaint</h2>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border="1">
            <tr>
                <td>Complaint</td>
                <td>
                    <input type="text" name="farmcomp">
                </td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <input type="submit" value="Submit">
                    <input type="reset" value="Cancel">
                </td>
            </tr>
        </table>
        <table align="center" border="1"><br>
            <tr align="center">
                <td>Sl.No</td>
                <td>Complaint</td>
                <td>Status</td>
                <td colspan="2">Action</td>
            </tr>
            {% for i in famcomp %}
            <tr align="center">
                <td>{{forloop.counter}}</td>
                <td>{{i.complaint}}</td>
                <td>
                    {% if i.status == 0 %}
                    Not Replied Yet
                    {% else %}
                    {{i.reply}}
                    {% endif %}
                </td>
                <td><a href="{% url 'farmer:delfcomplaint' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>

{% endblock content %}