{% extends 'Market/Head.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FARMER</title>
</head>
<body>
    <form action="" method="post">
    <br>
    <br>
    <br>
    <br>
        <H1 align="center">Farmer ACCEPT</H1>
        <table border="2" align="center" cellpadding="2">
            <tr>
                <th>Sl.no</th>
                <th>UserName</th>
                <th>Email</th>
               <th>Address</th>
               <th>contact</th>
                <th>
                    Content</th>
                    <th>product</th>
                    <th>Action</th>
            
               
            
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.farmer.name}}</td>
                <td>{{i.farmer.email}}</td>
                <td>{{i.farmer.address}}</td>
                <td>{{i.farmer.contact}}</td>
                <td>{{i.content}}</td>
                <td>{{i.product.name}}</td>
                <td><a href="{% url 'market:rejectfarmer' i.id %}">Reject</a></td>
            
                
            </tr>
            {% endfor %}

        </table>
    </form>
    
</body>
</html>

{% endblock content %}